<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ConcurrencyAndDistribution_JAVA/src/control_3CD/Start_PCD_week04/_4_2_CorridaDeCavalosSimulada/main/Start_SWING_RACE03_HORSES_control84.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="control_3CD.Start_PCD_week04._4_2_CorridaDeCavalosSimulada.main.Start_SWING_RACE03_HORSES_control84"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ConcurrencyAndDistribution_JAVA"/>
</launchConfiguration>
